*.o
/C/main
/C/result.txt
/Cunknown/test
/Cunknown/test_falsenegative
/Cunknown/benchmark
/Cunknown/main
/Cunknown/benchmark_omp
/Cunknown/checkpoint.bin
/challenges/pcg64-challenge
/challenges/pcg64s-challenge
/Cknown/main
/Cknown/success_proba
/challenges/pcg64-check
/challenges/pcg64s-check
